#sourceCaption{
    font-size: 5px;
}
#Photo{
  position: static;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;

}
#PhotoName{
    position: static;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}